<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  </head>
  <body>
    <img id="img1" />
    <br /><br />

    <script>
      const socket = io("http://localhost:8000");
      socket.on("connection");

      socket.on("message", (data) => {
        document.querySelector("h1").innerHTML = data;
        socket.emit("message");
        if ((data = "CONNECTED")) {
          document.querySelector("h2").style.display = "none";
          document.querySelector("p").style.display = "none";
          document.getElementById("img1").style.display = "none";
          socket.disconnect(true);
        } else {
        }
      });

      socket.on("ready", (data) => {
        document.getElementById("img1").src = data;
      });

      socket.emit("message");
      socket.emit("ready");
    </script>
  </body>
</html>
